<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Ignore static files like JS, CSS, images, etc. -->
        <rule name="Ignore Static Files" stopProcessing="true">
          <match url="(.*\.(js|css|png|jpg|jpeg|gif|ico|woff|woff2|ttf|svg|eot))$" />
          <action type="None" />
        </rule>

        <!-- Redirect all other requests to index.html -->
        <rule name="Angular Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/tamarindo/leibniz/client/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
