<div class="container" style="padding: 10px; min-height: 350px">
  <app-page-title
    title="Charts"
    addButtonLabel="New Chart"
    iconName="fa fa-sitemap"
    (addClick)="addChart()"
  ></app-page-title>

  <app-loading *ngIf="loading"></app-loading>

  <div class="card-deck">
    @for (item of dataSource; track $index) {
    <div class="card mb-3">
      <div class="card-header">
        <a
          href="javascript:;"
          (click)="edit(item.chartId)"
          style="text-decoration: none"
          ><b>{{ item.name }}</b></a
        >
        <app-dropdown
          [options]="actions"
          [data]="item"
          style="position: absolute; right: 1; top: 1px"
        ></app-dropdown>
      </div>
      <div class="card-body enhance-text" style="height: 600px;">
        <app-network [graphJson]="item.content ?? ''"></app-network>
      </div>
      <div class="card-footer">
        @for (tag of item.refs; track $index) {
        <app-entity-badge
          [type]="tag.type"
          [id]="tag.id"
          [name]="tag.name"
        ></app-entity-badge>
        }
      </div>
    </div>
    }
    <app-infinite-scroll (loadMore)="loadMore()"></app-infinite-scroll>
  </div>

  <app-edit-chart></app-edit-chart>
</div>
