<div class="container" style="padding: 10px; min-height: 350px">
  <app-page-title
    title="Areas"
    addButtonLabel="New Area"
    iconName="fa fa-map-o"
    (addClick)="addArea()"
  ></app-page-title>

  <hr />

  <app-grid-table
    [dataSource]="dataSource"
    [actions]="actions"
    [actionsLabel]="'Actions'"
    [columns]="columns"
    [searchTerm]="areasStore.query"
    (loadMore)="loadMore()"
    (runDeepSearch)="loadDeepSearch($event)"
  >
  </app-grid-table>

  <app-edit-area></app-edit-area>
</div>
