<div class="p-3">
  <h4 class="font-italic">Links</h4>
  <ol class="list-unstyled mb-0">
    @for (item of dataSource; track $index) {
    <li>
      <a href="javascript:;" (click)="openLink(item.linkId)">{{ item.name }}</a>
      <a
        href="javascript:;"
        style="margin-left: 5px"
        (click)="edit(item.linkId)"
        ><i class="fa fa-edit"></i
      ></a>
      <a
        href="javascript:;"
        style="margin-left: 5px"
        (click)="navigate(item.linkId)"
        ><i class="fa fa-window-maximize"></i
      ></a>
    </li>
    } @if(dataSource?.length == 0) {
    <li style="margin-bottom: 10px">No links found.</li>
    }
  </ol>
  <app-edit-link></app-edit-link>
</div>
