<div class="container" style="padding: 10px; min-height: 350px">
  <app-page-title
    title="Topics"
    addButtonLabel="New Topic"
    iconName="fa fa-tags"
    (addClick)="addTopic()"
  ></app-page-title>

  <hr />

  <app-loading *ngIf="loading"></app-loading>
  <app-grid-table
    [dataSource]="dataSource"
    [actions]="actions"
    [actionsLabel]="'Actions'"
    [columns]="columns"
    [searchTerm]="topicsStore.query"
    (loadMore)="loadMore()"
    (runDeepSearch)="loadDeepSearch($event)"
  >
  </app-grid-table>

  <app-edit-topic></app-edit-topic>
</div>
