:host {
  display: block;
  width: 100%;
  height: 100%;
}

.network {
  width: 100%;
  height: calc(100% - 80px);
  border: 1px solid #ccc;
}

.json-area {
  width: 100%;
  height: calc(100% - 80px);
  font-family: monospace;
  background: #f8f9fa;
  border: 1px solid #ccc;
  padding: 1em;
  white-space: pre;
  display: none;
}
