<div class="container" style="padding: 10px; min-height: 350px">
  <app-page-title
    title="Books"
    addButtonLabel="New Book"
    iconName="fa fa-book"
    (addClick)="addBook()"
  ></app-page-title>

  <hr />

  <app-loading *ngIf="loading"></app-loading>
  <app-grid-table
    [dataSource]="dataSource"
    [actions]="actions"
    [actionsLabel]="'Actions'"
    [columns]="columns"
    [searchTerm]="booksStore.query"
    (loadMore)="loadMore()"
    (runDeepSearch)="loadDeepSearch($event)"
  >
  </app-grid-table>

  <app-edit-book></app-edit-book>
</div>
