<div class="container page-main-container">
  <div class="card page-main-body">
    <div class="card-body">
      <span class="login-title">Forgot Password</span>
      <p class="login-subtitle">Please, inform your e-mail</p>
      <form [formGroup]="forgotForm" (ngSubmit)="forgotPassword()">
        <div class="form-group">
          <input
            class="login-input form-control"
            formControlName="email"
            type="text"
            placeholder="E-mail"
          />
          <app-field-validation-errors
            [control]="forgotForm.get('email')"
          ></app-field-validation-errors>
        </div>

        <div class="form-group">
          <button
            type="submit"
            name="btnLogin"
            class="btn btn-login bg-primary btn-block"
          >
            Send e-mail
          </button>
        </div>

        <div class="login-or-container">
          <p class="login-or">OR</p>
        </div>

        <div class="register-link">
          <a href="javascript:;" class="register" (click)="back()">Go Back</a>
        </div>
      </form>
    </div>
  </div>
</div>
