<div class="container" style="padding: 10px; min-height: 350px">
  <app-page-title
    title="Links"
    addButtonLabel="New Link"
    iconName="fa fa-link"
    (addClick)="addLink()"
  ></app-page-title>

  <hr />

  <app-loading *ngIf="loading"></app-loading>
  <app-grid-table
    [dataSource]="dataSource"
    [actions]="actions"
    [actionsLabel]="'Actions'"
    [columns]="columns"
    [searchTerm]="linksStore.query"
    (loadMore)="loadMore()"
    (runDeepSearch)="loadDeepSearch($event)"
  >
  </app-grid-table>

  <app-edit-link></app-edit-link>
</div>
