.txbold {
  font-weight: bold;
  color: black;
}

.tx-success {
  color: green !important;
}

.tx-info {
  color: blue !important;
}

.tx-warning {
  color: orange !important;
}

.tx-danger {
  color: red !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.modal-content {
  width: initial !important;
}

.modal-dialog-centered {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  min-height: calc(100% - var(--bs-modal-margin) * 2) !important;
}

a {
  cursor: pointer !important;
}

.tab-content {
  overflow-y: auto;
  max-height: 550px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Avenir Next", "Helvetica Neue", sans-serif;
  font-weight: 600;
  line-height: 1.2;
  color: #111;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}
