<div class="row">
    <div class="col">
      <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark" *ngIf="author">
        <div class="row">
          <div class="col-md-8 px-0">
            <h1 class="display-4 font-italic">
              <span class="title">{{ author.name }}</span>
              <a href="javascript:;" (click)="edit()">
                <i
                  class="fa fa-edit"
                  style="font-size: 0.4em; font-weight: bolder; margin-left: 10px"
                ></i>
              </a>
              <br />
            </h1>
            <p class="lead my-3" [innerHTML]="author.content | newlineToBr"></p>
          </div>
          <div class="col-md-4">
            <app-image-box [type]="'author'" [id]="authorId"></app-image-box>
          </div>
        </div>
      </div>
      <app-edit-author></app-edit-author>
    </div>
  </div>
  