<div class="dropdown-container" style="position: relative; display: block">
  <div class="btn-group">
    <a
      class="btn bg-primary"
      (click)="showDrop = !showDrop"
      (keyup)="showDrop = !showDrop"
      style="color: white"
    >
      <span>{{ label() }}</span>
    </a>
    <div class="btn-group">
      <button
        class="btn bg-primary dropdown-toggle"
        (click)="showDrop = !showDrop"
        (keyup)="showDrop = !showDrop"
        style="color: white"
      ></button>
    </div>
  </div>
  <ul
    *ngIf="showDrop"
    class="dropdown-menu show"
    style="
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1000;
      display: block;
    "
  >
    <li *ngFor="let option of options()">
      <a
        class="dropdown-item"
        href="javascript:;"
        (click)="runAction(option?.action, data)"
      >
        <i [class]="option.icon"></i> {{ option.label }}
      </a>
    </li>
  </ul>
</div>
