<div class="container" style="padding: 10px; min-height: 350px">
  <app-page-title
    title="Authors"
    addButtonLabel="New Author"
    iconName="fa fa-users"
    (addClick)="addAuthor()"
  ></app-page-title>

  <hr />

  <app-loading *ngIf="loading"></app-loading>
  <app-grid-table
    [dataSource]="dataSource"
    [actions]="actions"
    [actionsLabel]="'Actions'"
    [columns]="columns"
    [searchTerm]="authorsStore.query"
    (loadMore)="loadMore()"
    (runDeepSearch)="loadDeepSearch($event)"
  >
  </app-grid-table>

  <app-edit-author></app-edit-author>
</div>
