<div class="container" style="margin-top: 25px">
  <app-thesis-splash [thesisId]="thesisId"></app-thesis-splash>
  <app-primary-posts [type]="'thesis'" [id]="thesisId"></app-primary-posts>
</div>

<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <app-secondary-posts [type]="'thesis'" [id]="thesisId"></app-secondary-posts>
    </div>

    <aside class="col-md-4 blog-sidebar">
      <app-authors-list
        [type]="'thesis'"
        [id]="thesisId"
        (selectAuthor)="applyFilter('author', $event)"
      ></app-authors-list>
      <app-thesis-list
        [type]="'thesis'"
        [id]="thesisId"
        (selectThesis)="applyFilter('thesis', $event)"
      ></app-thesis-list>
      <app-topics-list
        [type]="'thesis'"
        [id]="thesisId"
        (selectTopic)="applyFilter('topic', $event)"
      ></app-topics-list>
      <app-links-list [type]="'thesis'" [id]="thesisId"></app-links-list>
    </aside>
  </div>
</main>
